
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

h1{
  color:  #ff3300
}

.topo{
    width: 100%;
    height: 80px;
    background-color: #fdf6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content; /* cada linha cresce conforme o conteúdo */
    gap: 50px;
    align-items: start;
    height: 600px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

    
.div1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    height: auto; /* Ajusta a altura automaticamente */
    background-color: #ffe1d6;
    border-radius: 10px;
}

/* Container de tarefas + botão */
.conteudo-lista {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px; /* gap entre tarefas */
}

/* Estilo das tarefas */
.tarefa {
    background-color: #ffd1b3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    font-size: 16px;
}
  

.titulo{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.titulo button{
    background-color: #ffe1d6;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding: 0;
    margin: 0;
}

.titulo i{
    color: black;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}


.input{
    cursor: pointer;
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #ffe1d6;
}

.input:focus{
    border: 2px solid lightsalmon
}

.div1 i{
    color: black;
    font-size: 24px;
}

.botao  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.add{
    background-color: #ffe1d6;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 0;
    margin: 0;
    padding: 5px;
}

.add:hover{ 
    border-radius: 10px;
    background-color: #ffb3a6;
    color: white;

}

.tarefa {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    background-color: #ffa07a;
  }

  .conteudo-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 12px; /* gap entre tarefas */
  }
  
  .input2 {
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    min-height: 30px;
    max-height: 150px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #ffa07a;
    box-sizing: border-box;
    resize: none; /* impede redimensionamento manual */
    overflow: hidden; /* esconde a barra de rolagem */
    margin-bottom: 5px;
  }
  

.input2:focus{
    outline: none   ;
}

.deleteTarefa{
    background-color: #ffa07a;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8px;
}

.deleteTarefa i{
    font-size: 16px;
}

.addList{
    font-weight: bold;
    text-align: left;
    height: 40px;
    width: 300px;
    background-color: rgba(255, 225, 214, 0.8);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 10px;
    margin: 0;
}

.addList:hover{
    background-color: #ffb3a6;
    color: white;
}